<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuiTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GuiTest.Properties.Settings>
            <setting name="ApplicationId" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>Results</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>http://cloud.ocrsdk.com</value>
            </setting>
            <setting name="CheckmarkOptions" serializeAs="String">
                <value>checkmarkType=empty</value>
            </setting>
        </GuiTest.Properties.Settings>
    </userSettings>
</configuration>